# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env/
*.env

# Byte-compiled / logs
*.log

# Docker
*.pid
*.sock
*.db
Dockerfile.old
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
